h2{
color:#193681
}
h3{
    color:#A44F78
}
.item{
    position:relative;
    
    
    }
    .item p{
  
    top:50%;
    left:50%;
    color:navy
}
    
    .header{
        color: #81039F;
        display: flex;
        justify-content: space-between;
    }
    